
[submodule "modules/opencepk-lib-shell-common"]
	path = modules/opencepk-lib-shell-common
	url = https://github.com/opencepk/opencepk-lib-shell-common.git
[submodule "modules/opencepk-module-tf-github"]
	path = modules/opencepk-module-tf-github
	url = https://github.com/opencepk/opencepk-module-tf-github.git
[submodule "modules/opencepk-library-architecture-desgin"]
	path = modules/opencepk-library-architecture-desgin
	url = https://github.com/opencepk/opencepk-library-architecture-desgin.git
[submodule "modules/opencepk-lib-python-common"]
	path = modules/opencepk-lib-python-common
	url = https://github.com/opencepk/opencepk-lib-python-common.git
[submodule "modules/opencepk-custom-github-actions"]
	path = modules/opencepk-custom-github-actions
	url = https://github.com/opencepk/opencepk-custom-github-actions.git
[submodule "modules/opencepk-module-ghactions-common"]
	path = modules/opencepk-module-ghactions-common
	url = https://github.com/opencepk/opencepk-module-ghactions-common.git
[submodule "modules/opencepk-template-base"]
	path = modules/opencepk-template-base
	url = https://github.com/opencepk/opencepk-template-base.git
